@charset "utf-8";
.container header {
	background-color: #D1B68C;
}
.container .banner {
	background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container #contact {
	background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container .copyright {
	background-color: #D1B68C;
}



.container header nav {
	background-color: #D1B68C;
}
.container #hero {
	background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(238,210,172,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(238,210,172,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(238,210,172,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(238,210,172,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
